[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
x509_extensions    = v3_req

[dn]
C = IN
ST = Telangana
L = Hyderabad
O = BIKEZLO MOTORRAD INDIA LLP
CN = 100.64.188.35

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 100.64.188.35
